# Python virtual environment
.venv/
venv/
env/
myvenv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env
backend/.env

# Generated and Uploaded Files
generated/
uploads/
temp/
runs/

# Playground and Sandbox Folders
# backend/playground/
# backend/sandbox
# backend/sandbox_anis

# Vue/Vuetify application
frontend/